body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 700px;
    margin: 0 auto;
    padding: 1em;
    background: grey;
    border: 2px solid black;
}
h1 {
    margin-top: 0;
    color: navy;
}
label {
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
}
#data input {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}
#buttons input {
    float: left;
    margin-bottom: .5em;
}
br {
    clear: left;
}
.error {
    color: red;
    font-weight: bold;
}

.footer{
    margin-top: 0;
    color: navy;
}

.copyright{
    float:right;
}

th,td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 100%;
}